.welcome{
    font-style: Bold;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
/* .images{
    height:50px;
    width: 10px;
} */
/* example for css styles */
thead{       
color: rgba(141, 3, 3, 0.897);
}